# Ignore Python venv
backend/venv/

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore node_modules
frontend/node_modules/

# Ignore environment files
*.env

# Ignore uploaded files
backend/uploads/
backend/embeddings/
backend/eval_outputs/


frontend/package-lock.json
